<hr>
<div style="background-color: lightgray; padding: 20px; color: black;">
<div>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/97/Coursera-Logo_600x600.svg/1024px-Coursera-Logo_600x600.svg.png" style="float: right; margin-right: 30px;" width="120"/> 
<font size="6.5" color="#0056D2"><b>Python Scripting and SQL</b></font> <br>
<font size="5.5" color="#0056D2"><b>Working with Data in Python </b></font> 
</div>
<div style="text-align: left">  <br>
Edison David Serrano CÃ¡rdenas. <br>
MSc in Applied Mathematics <br>
CIMAT - Sede Guanajuato <br>
</div>

</div>
<hr>

##  <font color="#0056D2" >**Objetives**</font> 
In this module, you will learn how to use Python scripting techniques to work with SQL. You will create a database, store data, and query that data with SQL from Python.

*Load Libraries:*

In [1]:
from faker import Faker
import sqlite3

## <font color="#0056D2" >**Python Scripting Basics**</font>

<font color="#0056D2" >**Creating a Script as a Module in Python**</font>

file: `.example1/main.py`

```python
print(f"The name of this module is: {_name_}")
# output:
# The name of this module is: __main__
```

file: `.example1/other.py`

```python
import main
print(f"The name of this module is: {_name_}")
# output:
# The name of this module is: main
# The name of this module is: __main__
```

file: `.example1/main2.py`

```python
def principal():
    print(f"The name of this module is: {__name__}")


if __name__ == '__main__':
    principal()
```

<font color="#0056D2" >**Traversing the File System with a Script in Python**</font>

file: `.example2/main.py` Iterate over all files

```python
import os

def main():
    for root, directories, files in os.walk("/workspaces/Scripting-with-Python-and-SQL-for-Data-Engineering/"):
        #print (f"Root: {root}")
        #print(f"Directories {directories}")
        #print(f"files {files}")
        for _file in files:
            absolute_path = os.path.join(root,_file)
            print(f"File path: {absolute_path}")


if __name__ == '__main__':
    main()
```

file: `.example2/main1.py` Iterate over all the directories:

```python
import os

def main():
    for root, directories, files in os.walk("/workspaces/Scripting-with-Python-and-SQL-for-Data-Engineering/"):
        for dir in directories:
            absolute_path = os.path.join(root,dir)
            print(f"File path: {absolute_path}")


if __name__ == '__main__':
    main()
```

## <font color="#0056D2" >**SQLite and Python**</font>

<font color="#0056D2" >**Key Terms**</font>

- SQLite        - Embedded, serverless SQL database
- Table         - Collection of related data in columns and rows
- Query         - SQL statement to insert, retrieve, update, or delete data
- Commit        - Make changes permanent in a database transaction
- Cursor        - Object to execute queries and fetch results
- Primary key   - Unique identifier for a row in a table
- Generate      - Produce sample data programmatically
- Persist       - Save data so it exists after program execution

### <font color="#0056D2" >**Introduction to Embedded Databases**</font>

<font color="#0056D2" >**What is SQLite?**</font> 

First off a SQLite database is represented by a file. 

You will see an actual file in the file system and this is a big difference because if you're dealing with a bigger database like say PostgreSQL, you won't find a single file in that database. 

Next is that there's no client-server communication. That is, when you're working with say PostgreSQL or MySQL you have a database server, and then you're connecting to it via a client and the connection usually happens over the network also called over the wire. 

There is no server, there's no process running, you connect to a SQLite database directly without any configuration which is the other feature that an embedded database like SQLite has.

### <font color="#0056D2" >**Creating and Connecting to a SQLite Database in Python**</font>

Create a database, a table in the database and create a commit.

file: `./python_scripts/create.py`

```python
# import SQLite
import sqlite3

# The next thing that you want to do is create a connection. 
# I'm just going to name it sample.db
connection = sqlite3.connect('sample.db')

# I want to create a table
table = 'CREATE TABLE people (id integer primary key, name TEXT,surname TEXT)'
cursor = connection.cursor()
cursor.execute(table)
connection.commit()
```

bash: `console`
> ``` bash
> [cloudshell-user@... ]$  sqlite3 sample.db 
>   SQLite version 3.45.1 2024-01-30 16:01:20
>   Enter ".help" for usage hints.
>   sqlite>  ...
> ```

### <font color="#0056D2" >**Saving and Querying from a SQLite Database in Python**</font>

*Generate data:* Use Faker. It is a Python package that generates fake data for you.

In [2]:
fake = Faker()

# Generate a list of 100 names
names = [fake.name().split() for _ in range(100)]
# Filter names to keep only those with exactly two parts
names = [name for name in names if len(name) == 2]
names[:5]

[['Nancy', 'Moreno'],
 ['Louis', 'Aguilar'],
 ['Darrell', 'Bryant'],
 ['Michael', 'Bird'],
 ['Carolyn', 'Alvarez']]

In [3]:
connection = sqlite3.connect('./data/sample.db')

*Insert Query:*

In [4]:
insert_query = 'INSERT INTO people(name, surname) VALUES (?, ?)'
cursor = connection.cursor()
for name in names:
    cursor.execute(insert_query, name)
connection.commit()

*Create a select query:*

In [5]:
select_query = 'SELECT * FROM people LIMIT 10'
for i in cursor.execute(select_query):
    print(i)

# Close the connection
connection.close()

(1, 'David', 'Brown')
(2, 'Joseph', 'Ferguson')
(3, 'Amy', 'Greene')
(4, 'Matthew', 'Mitchell')
(5, 'Stephanie', 'Wood')
(6, 'Jose', 'Marshall')
(7, 'Vicki', 'Hodges')
(8, 'Tammy', 'Kelly')
(9, 'Kevin', 'Scott')
(10, 'Troy', 'Conley')

> ```bash
> [cloudshell-user@... ]$ sqlite3 sample.db 
>       SQLite version 3.45.1 2024-01-30 16:01:20
>       Enter ".help" for usage hints.
>       sqlite> SELECT * from people LIMIT 10;
>       1|Sandra|Roberts
>       2|Kathryn|Thomas
>       3|John|Solomon
>       4|Jennifer|Smith
>       5|Cole|Ashley
>       6|Ethan|Edwards
>       7|Andrew|Barker
>       8|Joanna|Silva
>       9|Sandra|Rosales
>       10|John|Bell
>       sqlite> 
> ```

### <font color="#0056D2" >**Saving and Querying from a SQLite Database in Python**</font>

For the SQL examples, try them in your system by running sqlite3 in your own terminal. You must feel comfortable running or using the terminal in your system.

<font color="#0056D2" >**Basic SELECT query**</font>
 
```sql
-- Create sample table
CREATE TABLE users (
  id INTEGER PRIMARY KEY, 
  name TEXT,
  email TEXT
);

-- Insert some data
INSERT INTO users VALUES 
  (1, 'John', 'john@email.com'),
  (2, 'Mary', 'mary@email.com'), 
  (3, 'Robert', 'robert@email.com'),
  (4, 'Laura', 'laura@email.com');

-- Basic select query
SELECT name, email
FROM users;
```

<font color="#0056D2" >**Filter with WHERE clause**</font>
 
```sql
-- Create sample table
CREATE TABLE users (
  id INTEGER PRIMARY KEY, 
  name TEXT,
  email TEXT
);

-- Insert some data
INSERT INTO users VALUES 
  (1, 'John', 'john@email.com'),
  (2, 'Mary', 'mary@email.com'), 
  (3, 'Robert', 'robert@email.com'),
  (4, 'Laura', 'laura@email.com');

-- Filter with WHERE clause  
SELECT *
FROM users
WHERE name LIKE 'R%';
```

<font color="#0056D2" >**Processing data from the database in Python**</font>
 
```python
-results = cursor.execute('SELECT * FROM users')

for row in results:
  first_name = row[0] 
  last_name = row[1]
  print(f"{first_name} {last_name}")
```

## <font color="#0056D2" >**Querying Databases with SQL**</font>

<font color="#0056D2" >**Basic SQL Commands in Python**</font>

***SELECT COMMAND:***

In [ ]:
connection = sqlite3.connect('./data/sample.db')
cursor = connection.cursor()

In [7]:
query = 'SELECT * FROM people'
for result in cursor.execute(query):
    print(result)

(1, 'David', 'Brown')
(2, 'Joseph', 'Ferguson')
(3, 'Amy', 'Greene')
(4, 'Matthew', 'Mitchell')
(5, 'Stephanie', 'Wood')
(6, 'Jose', 'Marshall')
(7, 'Vicki', 'Hodges')
(8, 'Tammy', 'Kelly')
(9, 'Kevin', 'Scott')
(10, 'Troy', 'Conley')
(11, 'Lisa', 'Jones')
(12, 'Beth', 'Gray')
(13, 'Rick', 'Jones')
(14, 'Robert', 'Coleman')
(15, 'Eric', 'Roberts')
(16, 'Brittany', 'Stevens')
(17, 'Bonnie', 'Montgomery')
(18, 'Jonathan', 'Walsh')
(19, 'Kari', 'Browning')
(20, 'Melissa', 'Reeves')
(21, 'Brandon', 'Torres')
(22, 'Christine', 'Bishop')
(23, 'Brittney', 'Martinez')
(24, 'Christine', 'Parks')
(25, 'Caitlin', 'Taylor')
(26, 'Bradley', 'Williams')
(27, 'Don', 'Nelson')
(28, 'Teresa', 'Henderson')
(29, 'Vicki', 'Powell')
(30, 'Richard', 'Vargas')
(31, 'Gregory', 'Bryan')
(32, 'John', 'Butler')
(33, 'David', 'Newton')
(34, 'Michael', 'Riddle')
(35, 'Nathan', 'Cruz')
(36, 'Ronnie', 'Sanchez')
(37, 'Shannon', 'Bradley')
(38, 'Makayla', 'Bates')
(39, 'Marcus', 'Wong')
(40, 'Evelyn', 'Martinez')
(41, 'Wendy', 'Holloway')
(42, 'Justin', 'Kim')
(43, 'Stephanie', 'Benson')
(44, 'Linda', 'White')
(45, 'Matthew', 'Kaiser')
(46, 'Chloe', 'Davis')
(47, 'Tracy', 'Brown')
(48, 'Michael', 'Bradley')
(49, 'Jake', 'Johnson')
(50, 'Cindy', 'Brennan')
(51, 'Dan', 'Brown')
(52, 'Patricia', 'Nguyen')
(53, 'Michael', 'Knight')
(54, 'Ronald', 'Cannon')
(55, 'Joseph', 'Graham')
(56, 'Karl', 'Perkins')
(57, 'Sarah', 'Black')
(58, 'Nancy', 'Mills')
(59, 'Lindsay', 'Cain')
(60, 'Matthew', 'Levy')
(61, 'William', 'Montgomery')
(62, 'Shannon', 'Evans')
(63, 'Toni', 'Beck')
(64, 'Debra', 'Barajas')
(65, 'Wyatt', 'Moon')
(66, 'Kelly', 'Christensen')
(67, 'George', 'Thomas')
(68, 'Joseph', 'Dennis')
(69, 'Jeremiah', 'Davidson')
(70, 'Mark', 'Taylor')
(71, 'Sharon', 'Ramirez')
(72, 'Brenda', 'Deleon')
(73, 'Susan', 'Rodriguez')
(74, 'Barbara', 'Garcia')
(75, 'Hannah', 'Flores')
(76, 'Anthony', 'Russo')
(77, 'Jasmine', 'Hunt')
(78, 'Matthew', 'Thomas')
(79, 'Bradley', 'Clarke')
(80, 'Janet', 'Dominguez')
(81, 'Darryl', 'Brown')
(82, 'Jesse', 'Wong')
(83, 'Heather', 'Lewis')
(84, 'Jessica', 'Carr')
(85, 'Gregory', 'Medina')
(86, 'Miguel', 'Rivas')
(87, 'Felicia', 'Moreno')
(88, 'Kathy', 'Smith')
(89, 'Kimberly', 'Cantu')
(90, 'David', 'Farmer')
(91, 'Diana', 'Kerr')
(92, 'Alicia', 'Flynn')
(93, 'Lisa', 'Kane')
(94, 'Darren', 'Campbell')
(95, 'Michael', 'Arnold')
(96, 'Natasha', 'Campbell')
(97, 'Nancy', 'Moreno')
(98, 'Louis', 'Aguilar')
(99, 'Darrell', 'Bryant')
(100, 'Michael', 'Bird')
(101, 'Carolyn', 'Alvarez')
(102, 'Megan', 'Watkins')
(103, 'Donna', 'Young')
(104, 'Jerome', 'Clements')
(105, 'Edward', 'Brown')
(106, 'Jack', 'Owen')
(107, 'Sean', 'Kemp')
(108, 'Lynn', 'Velasquez')
(109, 'Louis', 'Williams')
(110, 'Garrett', 'Parsons')
(111, 'Rebecca', 'Young')
(112, 'Amy', 'Simmons')
(113, 'Angela', 'Woods')
(114, 'Thomas', 'Johnson')
(115, 'Carol', 'Jones')
(116, 'Madison', 'Gutierrez')
(117, 'Colin', 'Thomas')
(118, 'Elizabeth', 'Contreras')
(119, 'Andrea', 'Oconnor')
(120, 'Karen', 'Baker')
(121, 'Daniel', 'Robinson')
(122, 'Blake', 'Day')
(123, 'Christopher', 'Kennedy')
(124, 'Jonathan', 'Lynch')
(125, 'Linda', 'Warren')
(126, 'Samantha', 'Lewis')
(127, 'Larry', 'Fowler')
(128, 'Thomas', 'Gallegos')
(129, 'Jasmine', 'Kelly')
(130, 'Christopher', 'Edwards')
(131, 'Marvin', 'Mcdonald')
(132, 'Emily', 'Galvan')
(133, 'Kimberly', 'Salazar')
(134, 'Nicholas', 'Garcia')
(135, 'Jamie', 'George')
(136, 'Kimberly', 'Maldonado')
(137, 'Christopher', 'Cameron')
(138, 'Michael', 'Hudson')
(139, 'Cody', 'Davis')
(140, 'Robert', 'Fisher')
(141, 'Justin', 'Elliott')
(142, 'Lisa', 'Smith')
(143, 'Willie', 'Flynn')
(144, 'Leslie', 'Richardson')
(145, 'Samuel', 'Wilson')
(146, 'Ross', 'Scott')
(147, 'John', 'Stanley')
(148, 'Patricia', 'Phillips')
(149, 'Chad', 'Young')
(150, 'Antonio', 'Schroeder')
(151, 'Laura', 'Gomez')
(152, 'Kathryn', 'Hays')
(153, 'Laura', 'Schultz')
(154, 'Rita', 'Morgan')
(155, 'Dennis', 'Wheeler')
(156, 'Jasmine', 'Gray')
(157, 'April', 'Holmes')
(158, 'Troy', 'Hardy')
(159, 'Todd', 'Williams')
(160, 'Jessica', 'Kline')
(161, 'Bryan', 'Bryant')
(162, 'Sarah', 'Rose')
(163, 'Megan', 'Griffith')
(164, 'Sherry', 'Tate')
(165, 'Kenneth', 'Sims')
(166, 'Michael', 'Barnes')
(167, 'Stacey', 'Barron')
(168, 'Pamela', 'Watkins')
(169, 'Michele', 'Price')
(170, 'Amy', 'Pearson')
(171, 'Ann', 'Simmons')
(172, 'Henry', 'Mitchell')
(173, 'Bianca', 'Jordan')
(174, 'Zachary', 'Martinez')
(175, 'Allison', 'Sanchez')
(176, 'Daniel', 'Garcia')
(177, 'Brett', 'Mitchell')
(178, 'Katie', 'George')
(179, 'Sarah', 'Faulkner')
(180, 'Justin', 'Deleon')
(181, 'Victoria', 'Wu')
(182, 'Patrick', 'Kelly')
(183, 'Virginia', 'Stafford')
(184, 'Jacob', 'Grimes')
(185, 'Eric', 'Herring')
(186, 'Michelle', 'Giles')
(187, 'Brenda', 'Hernandez')
(188, 'Renee', 'Mcpherson')
(189, 'Briana', 'Allen')
(190, 'Jordan', 'Porter')
(191, 'Michelle', 'Carlson')
(192, 'Joshua', 'Hansen')

In [8]:
query = 'SELECT * FROM people'
count = 0
for result in cursor.execute(query):
    print(result)
    count+= 1
    if count > 10:
        break

(1, 'David', 'Brown')
(2, 'Joseph', 'Ferguson')
(3, 'Amy', 'Greene')
(4, 'Matthew', 'Mitchell')
(5, 'Stephanie', 'Wood')
(6, 'Jose', 'Marshall')
(7, 'Vicki', 'Hodges')
(8, 'Tammy', 'Kelly')
(9, 'Kevin', 'Scott')
(10, 'Troy', 'Conley')
(11, 'Lisa', 'Jones')

In [10]:
query = 'SELECT * FROM people LIMIT 10'
for result in cursor.execute(query):
    print(result)

(1, 'David', 'Brown')
(2, 'Joseph', 'Ferguson')
(3, 'Amy', 'Greene')
(4, 'Matthew', 'Mitchell')
(5, 'Stephanie', 'Wood')
(6, 'Jose', 'Marshall')
(7, 'Vicki', 'Hodges')
(8, 'Tammy', 'Kelly')
(9, 'Kevin', 'Scott')
(10, 'Troy', 'Conley')

In [13]:
query = 'SELECT surname FROM people LIMIT 10'
for result in cursor.execute(query):
    print(result)

('Brown',)
('Ferguson',)
('Greene',)
('Mitchell',)
('Wood',)
('Marshall',)
('Hodges',)
('Kelly',)
('Scott',)
('Conley',)

<font color="#0056D2" >**Extracting Distinct Data using SQL in Python**</font>

**LIMIT COMMAND:**

In [15]:
query = 'SELECT * FROM people ORDER BY name DESC LIMIT 10'
for result in cursor.execute(query):
    print(result)

(174, 'Zachary', 'Martinez')
(65, 'Wyatt', 'Moon')
(143, 'Willie', 'Flynn')
(61, 'William', 'Montgomery')
(41, 'Wendy', 'Holloway')
(183, 'Virginia', 'Stafford')
(181, 'Victoria', 'Wu')
(7, 'Vicki', 'Hodges')
(29, 'Vicki', 'Powell')
(10, 'Troy', 'Conley')

***ORDER BY ... DESC COMMAND:***

In [19]:
query = 'SELECT name,surname FROM people WHERE name="David" ORDER BY surname DESC'
for result in cursor.execute(query):
    print(result)

('David', 'Newton')
('David', 'Farmer')
('David', 'Brown')

***WHERE __ LIKE COMMAND:***

In [21]:
query = 'SELECT name, surname FROM people WHERE name LIKE "%ia"'
for result in cursor.execute(query):
    print(result)

('Patricia', 'Nguyen')
('Felicia', 'Moreno')
('Alicia', 'Flynn')
('Patricia', 'Phillips')
('Victoria', 'Wu')
('Virginia', 'Stafford')

In [22]:
query = 'SELECT name, surname FROM people WHERE name LIKE "%ia%"'
for result in cursor.execute(query):
    print(result)

('Patricia', 'Nguyen')
('William', 'Montgomery')
('Jeremiah', 'Davidson')
('Felicia', 'Moreno')
('Diana', 'Kerr')
('Alicia', 'Flynn')
('Patricia', 'Phillips')
('Bianca', 'Jordan')
('Victoria', 'Wu')
('Virginia', 'Stafford')
('Briana', 'Allen')

In [25]:
query = 'SELECT name, surname FROM people WHERE name LIKE "J%"'
for result in cursor.execute(query):
    print(result)

('Joseph', 'Ferguson')
('Jose', 'Marshall')
('Jonathan', 'Walsh')
('John', 'Butler')
('Justin', 'Kim')
('Jake', 'Johnson')
('Joseph', 'Graham')
('Joseph', 'Dennis')
('Jeremiah', 'Davidson')
('Jasmine', 'Hunt')
('Janet', 'Dominguez')
('Jesse', 'Wong')
('Jessica', 'Carr')
('Jerome', 'Clements')
('Jack', 'Owen')
('Jonathan', 'Lynch')
('Jasmine', 'Kelly')
('Jamie', 'George')
('Justin', 'Elliott')
('John', 'Stanley')
('Jasmine', 'Gray')
('Jessica', 'Kline')
('Justin', 'Deleon')
('Jacob', 'Grimes')
('Jordan', 'Porter')
('Joshua', 'Hansen')

In [28]:
query = 'SELECT name, surname FROM people WHERE name LIKE "%____s"'
for result in cursor.execute(query):
    print(result)

('Marcus', 'Wong')
('Louis', 'Aguilar')
('Louis', 'Williams')
('Thomas', 'Johnson')
('Thomas', 'Gallegos')
('Nicholas', 'Garcia')
('Dennis', 'Wheeler')

In [ ]:
query = 'SELECT name, surname FROM people WHERE name LIKE "%s__"'
for result in cursor.execute(query):
    print(result)

connection.close()

('Melissa', 'Reeves')
('Lindsay', 'Cain')
('Susan', 'Rodriguez')
('Jesse', 'Wong')
('Natasha', 'Campbell')
('Madison', 'Gutierrez')
('Allison', 'Sanchez')